* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set color scheme using CSS variables */
:root {
    --primary-color: #007BFF;
    --secondary-color: #28a745;
    --background-color: #f4f4f4;
    --text-color: #333;
    --heading-color: #222;
}
